<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Gad</title>
    <link rel="stylesheet" href="C:\Users\chiti\E-COMMERCE\public\css\e-shop.css">
</head>
<body>
    <header>
        <h1>E-Gad-Store</h1>
    </header>
    <div class="product-list">
        <div class="product">
            <img src="C:\Users\chiti\E-COMMERCE\public\img\iphone-15.jpeg" alt="Product 1">
            <h2>IPHONE 15</h2>
            <ul>
                <li>The iPhone 15 was released in September 2023</li>
                <li>It features a new A16 Bionic chip for faster performance</li>
                <li>The device has a 48-megapixel main camera for high-resolution photos</li>
                <li>It introduces a Dynamic Island instead of a notch in the display</li>
                <li>The iPhone 15 models come with a USB-C port, replacing the previous Lightning port</li>
            </ul>
            <span class="price">79,990</span>
            <button class="add-to-cart">Add to Cart</button>
        </div>
        
        <div class="product">
            <img src="C:\Users\chiti\E-COMMERCE\public\img\iphone-15.jpeg" alt="Product 2">
            <h2>IPHONE 15 PLUS</h2>
            <ul>
                <li>The iPhone 15 Plus was released in September 2023</li>
                <li>It features a new A16 Bionic chip for faster performance</li>
                <li>The device has a 48-megapixel main camera for high-resolution photos</li>
                <li>It introduces a Dynamic Island instead of a notch in the display</li>
                <li>The iPhone 15 Plus models come with a USB-C port, replacing the previous Lightning port</li>
            </ul>
            <span class="price">89,990</span>
            <button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="product">
            <img src="C:\Users\chiti\E-COMMERCE\public\img\iphone-15-pro.jpeg" alt="Product 2">
            <h2>IPHONE 15 PRO</h2>
            <ul>
                <li>The iPhone 15 Pro was released in September 2023</li>
                <li>It features a new A17 Bionic chip for faster performance</li>
                <li>The device has a 48-megapixel main camera for high-resolution photos</li>
                <li>It introduces a Dynamic Island instead of a notch in the display</li>
                <li>The iPhone 15 Pro models come with a USB-C port, replacing the previous Lightning port</li>
            </ul>
            <span class="price">1,34,990</span>
            <button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="product">
            <img src="C:\Users\chiti\E-COMMERCE\public\img\iphone-15-pro.jpeg" alt="Product 2">
            <h2>IPHONE 15 PRO MAX</h2>
            <ul>
                <li>The iPhone 15 Pro Max was released in September 2023</li>
                <li>It features a new A17 Bionic chip for faster performance</li>
                <li>The device has a 48-megapixel main camera for high-resolution photos</li>
                <li>It introduces a Dynamic Island instead of a notch in the display</li>
                <li>The iPhone 15 Pro Max models come with a USB-C port, replacing the previous Lightning port</li>
            </ul>
            <span class="price">1,59,990</span>
            <button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="product">
            <img src="C:\Users\chiti\E-COMMERCE\public\img\pixel_8.jpeg" alt="Product 2">
            <h2>GOOGLE PIXEL 8</h2>
            <ul>
                <li>The Google Pixel 8 was released in October 2023</li>
                <li>It features a new Tensor G3 chip for faster performance</li>
                <li>The device has a 50MP + 12MP rear camera and a 10.5MP front camera</li>
                <li>It introduces a 6.2-inch Full HD+ Display</li>
                <li>The Google Pixel 8 models come with up to 256GB of inbuilt storage</li>
            </ul>
            <span class="price">75,999</span>
            <button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="product">
            <img src="C:\Users\chiti\E-COMMERCE\public\img\pixel-8-pro.jpeg" alt="Product 2">
            <h2>GOOGLE PIXEL 8 PRO</h2>
            <ul>
                <li>The Google Pixel 8 Pro was released in October 2023</li>
                <li>It features a new Tensor G3 chip for faster performance</li>
                <li>The device has a 50MP primary camera, a 48MP telephoto lens, and a 48MP ultrawide lens</li>
                <li>It introduces a 6.7-inch LTPO AMOLED display with a resolution of 1440 x 3120 pixels</li>
                <li>The Google Pixel 8 Pro models come with up to 512GB of inbuilt storage</li>
            </ul>
            <span class="price">1,06,999</span>
            <button class="add-to-cart">Add to Cart</button>
        </div>
        <div class="product">
            <img src="C:\Users\chiti\E-COMMERCE\public\img\samsung-galaxy-s23-fe.jpeg" alt="Product 2">
            <h2>SAMSUNG S23 FE</h2>
            <ul>
                <li>The Samsung Galaxy S23 FE was released in October 2023</li>
                <li>It features a new Exynos 2200 (4 nm) - International Qualcomm SM8450 Snapdragon 8 Gen 1 (4 nm) - USA</li>
                <li>The device has a 50 MP, (wide), PDAF, OIS 12 MP, (telephoto), PDAF, optical zoom 8 MP, (ultrawide) camera</li>
                <li>It introduces a 6.4 inches, 100.5 cm 2 Resolution 1080 x 2340 pixels, 19.5:9 ratio (~403 ppi density) display</li>
                <li>The Samsung Galaxy S23 FE models come with up to 256GB of inbuilt storage</li>
            </ul>
            <span class="price">59,999</span>
            <button class="add-to-cart">Add to Cart</button>
        </div>
    </div>

    <div class="cart">
        <h2>Shopping Cart</h2>
        <ul class="cart-items">

        </ul>
        <div class="cart-total">
            <p>Total: <span id="total-price">$0.00</span></p>
            <button id="checkout">Checkout</button>
        </div>
    </div>
    <div class="auth-links">
        <a href="C:\Users\chiti\E-COMMERCE\app_server\views\signin.html">Sign In</a>
        <a href="C:\Users\chiti\E-COMMERCE\app_server\views\register.html">Register</a>
    </div>

    <script src="C:\Users\chiti\E-COMMERCE\public\js\e-shop.js"></script>
</body>
</html>
